.d-header {
  background: rgba(var(--header-color), var(--header-transparency)) !important;
  -webkit-backdrop-filter: blur(6px) !important;
  -moz-backdrop-filter: blur(6px) !important;
  backdrop-filter: blur(6px) !important;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5) !important;
  color: rgb(var(--header-icons-color)) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
}
