:root {
  --header-color: #{$header_color};
  --header-transparency: #{$transparency};
  --header-icons-color: #{$header_icons_color};
  --header-icons-drop-shadow: #{$header_icons_drop_shadow};
  --header-shadow: #{$header_shadow};
}
